.fancybox-skin {
  border-radius: 0;
}

.fancybox-close {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 100%;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: #139658;
}

.fancybox-close:after {
  content: "+";
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  display: block;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.forms__input_error ~ .forms__error-message {
  display: block;
}

.forms {
  display: none;
  max-width: 813px;
  box-sizing: border-box;
  padding: 50px 87px 75px;
  background: #fff;
}

.forms__text-bottom {
  font-size: 0.875rem;
  line-height: 1.571;
  font-weight: 100;
  text-align: center;
}

.forms__text-bottom span {
  display: block;
}

.forms__text-bottom a {
  color: #b7b7b7;
  text-decoration: none;
}

.forms__title {
  font-size: 1.875rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  color: #000;
  text-transform: uppercase;
}

.forms-text-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.forms__text {
  margin: 2.57202vh 0;
  max-width: 540px;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.forms-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forms-wrap--bot > div {
  width: 50%;
  box-sizing: border-box;
}

.forms-wrap--bot > div:nth-child(odd) {
  padding-right: 15px;
}

.forms-wrap--bot > div:nth-child(even) {
  padding-left: 15px;
}

.forms-input-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  -ms-flex-pack: end;
      justify-content: flex-end;
  box-sizing: border-box;
  width: 47.2%;
  min-width: 10px;
  position: relative;
  margin-bottom: 2.77778vh;
}

.forms-input-cont--rating {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #ebebeb;
  margin-top: calc(19px + 1.33745vh);
  padding: 5px 24px;
}

.forms-input-cont--rating label {
  margin-bottom: 0;
}

.forms-input-cont--req {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}

.forms-input-cont--file, .forms-input-cont--textarea {
  width: 100%;
  padding: 0 !important;
}

.forms-input-cont--file {
  position: relative;
}

.forms__input {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 1px;
  padding: 0 17px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.forms__input_error {
  border-color: #ff0024;
}

.forms__input[required] + .forms__label:after {
  content: "*";
  color: red;
}

.forms__input--select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAQAAADoz+32AAAAMUlEQVQIHQXBQQoAEQAAwDlr5b4ppZSv2h9IvMTjdoYhAaKP1xEQLBmK7TFVgObq8AOeMAU/ORPMfAAAAABJRU5ErkJggg==) center right 15px no-repeat, #f4f4f4;
  color: #777777;
}

.forms__input--file {
  display: none;
}

.forms__input--file-support {
  width: 77.34%;
}

.forms__input--textarea {
  max-width: 100%;
  height: 142px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 180px;
}

.forms__textarea[required] + .forms__label:after {
  content: "*";
  color: red;
}

.forms__file-formats {
  -ms-flex-order: -1;
      order: -1;
  margin-top: 1.54321vh;
  font-size: 0.875rem;
  color: #777777;
}

.forms__label {
  margin-bottom: 1.33745vh;
}

.forms__label--file {
  -ms-flex-order: 1;
      order: 1;
  pointer-events: none;
}

.forms__label--file:before {
  content: attr(data-btn-text);
  position: absolute;
  pointer-events: all;
  background: url("../img/ico-view.png") center left 15px no-repeat, #f4f4f4;
  right: 0;
  top: 30px;
  cursor: pointer;
  height: 49px;
  width: 18.57%;
  text-align: right;
  line-height: 49px;
  box-sizing: border-box;
  padding-right: 0.83333vw;
}

.forms-checkbox {
  position: relative;
}

.forms-checkbox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #ebebeb;
  border-radius: 1px;
}

.forms__checkbox {
  display: none;
}

.forms__checkbox.forms__input_error + label {
  color: red;
}

.forms__checkbox:checked + label:before, .forms__checkbox:checked + label:after {
  opacity: 1;
}

.forms__checkbox-label {
  font-size: 1rem;
  line-height: 1.25rem;
  padding-left: 45px;
  display: block;
  cursor: pointer;
  min-height: 32px;
  position: relative;
  z-index: 5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.forms__checkbox-label:before, .forms__checkbox-label:after {
  content: "";
  position: absolute;
  background: #139658;
  transition: opacity .5s ease;
  opacity: 0;
}

.forms__checkbox-label:before {
  height: 2px;
  width: 11px;
  top: 13px;
  left: 7px;
  -ms-transform-origin: left;
      transform-origin: left;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.forms__checkbox-label:after {
  height: 2px;
  width: 13px;
  top: 11px;
  left: 11px;
  -ms-transform-origin: right;
      transform-origin: right;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.forms__req-text {
  text-align: right;
}

.forms__req-text:before {
  content: "* ";
  color: red;
  font-size: 0.875rem;
}

.forms-submit-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 4.11523vh;
}

.forms__submit {
  color: #000;
  border: 2px solid #139658;
  cursor: pointer;
  background: #fff;
  font-size: 1.125rem;
  text-decoration: none;
  padding: 10px 30px 12px;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.forms__error-message {
  border: 1px solid #d4d4d4;
  background: #fff;
  color: #000;
  padding: 7px 10px;
  border-radius: 7px;
  position: absolute;
  bottom: 45px;
  right: -6px;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  display: none;
}

.forms__error-message:after {
  content: "";
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAIBAMAAADU/bjBAAAAGFBMVEX////V1dXV1dXY2Nji4uL9/f3+/v7///88REMWAAAAA3RSTlMAipDLFSdbAAAAM0lEQVQI12NwKweBMgcGlXQQI0WBgQkkVObEwAAWAgowgITAAiAhsABQyBUiwMAgLAAkAJ+wDc+KWF7qAAAAAElFTkSuQmCC) no-repeat;
  position: absolute;
  top: calc(100% - 0px);
  right: 19px;
  height: 8px;
  width: 15px;
}

.forms__error-message--file {
  bottom: initial;
  right: 21%;
  top: 0;
}

.forms__error-message-icon {
  display: block;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #ff0024;
  height: 19px;
  width: 19px;
  background: #fff;
  bottom: -32px;
  right: 16px;
}

.forms__error-message-icon:after, .forms__error-message-icon:before {
  content: "";
  position: absolute;
  width: 1px;
  background: #ff0024;
  left: calc(50% - 1px);
}

.forms__error-message-icon:before {
  top: 4px;
  height: 8px;
}

.forms__error-message-icon:after {
  bottom: 4px;
  height: 2px;
}

@media screen and (max-width: 1000px) {
  .fancy-active {
    overflow: hidden !important;
  }
}

@media screen and (max-width: 760px) {
  .fancy-active #page-wr {
    display: none;
  }
  .fancy-active .fancybox-overlay {
    position: static !important;
    width: 100% !important;
    height: 100% !important;
  }
  .fancy-active .fancybox-wrap {
    position: static !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh !important;
  }
  .fancy-active .fancybox-inner {
    width: 100% !important;
    min-height: 100% !important;
    overflow-y: scroll !important;
  }
  .fancy-active .fancybox-skin, .fancy-active .fancybox-outer {
    height: 100% !important;
  }
  .fancy-active .fancybox-type-image .fancybox-inner {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .fancy-active .fancybox-image {
    -ms-flex-align: center;
        align-items: center;
    height: auto;
    width: auto;
  }
  .forms {
    padding: 30px 25px;
    min-height: 100%;
  }
  .forms__title {
    margin-bottom: 5px;
    font-size: 1.25rem;
  }
  .fancybox-close {
    left: initial;
    right: 0;
  }
  .forms-input-cont {
    width: 100%;
  }
  .forms__label--file:before {
    background-image: none;
    text-align: center;
    padding-right: 0;
  }
  .forms-wrap--bot > div {
    width: 100%;
  }
  .forms-wrap--bot > div:not(:first-child) {
    margin-top: 1.54321vh;
  }
  .forms__checkbox {
    width: 100%;
  }
  .forms__req-text {
    text-align: center;
  }
}

.doc-panel__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.doc-panel .btn-panel {
  text-decoration: none;
  cursor: pointer;
  background-color: #ecf0f2;
  padding: 32px 0;
  text-align: center;
  color: #000;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.doc-panel .btn-panel:not(:last-child) {
  margin-right: 15px;
}

.doc-panel .btn-panel.active {
  background-color: #139658;
  color: #fff;
}

.doc-panel__info:not(:last-child) {
  margin-bottom: 40px;
}

.doc-panel__text-img {
  width: 19.28571%;
}

.doc-panel__text.active {
  display: block;
}

.doc-panel__text-item {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ecf0f2;
  padding: 45px 0;
}

.doc-panel__info-dop {
  display: -ms-flexbox;
  display: flex;
}

.doc-panel__info-discription {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-left: 45px;
  -ms-flex-item-align: center;
      align-self: center;
}

.doc-panel__info-discription a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-decoration: none;
}

.formoneclick {
  max-width: 1060px;
}

.formoneclick .forms-text-cont {
  text-align: left;
  margin-bottom: 30px;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.formoneclick input:-moz-read-only {
  background: #ecf0f2;
}

.formoneclick input:read-only {
  background: #ecf0f2;
}

.formoneclick .forms-checkbox-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.formoneclick .forms__title {
  text-transform: none;
  display: none;
}

.formoneclick .forms-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.formoneclick .forms__input-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formoneclick .forms__radio-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-bottom: 20px;
}

.formoneclick .forms__radio-cont:not(:last-child) {
  margin-right: 60px;
}

.formoneclick .forms__input {
  height: 57px;
}

.formoneclick .forms__input-wrap {
  display: -ms-flexbox;
  display: flex;
}

.formoneclick .forms__input--file-support {
  width: 75%;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-top: 0.5144vh;
}

.formoneclick .forms__file-formats {
  -ms-flex-order: 1;
      order: 1;
}

.formoneclick .forms__file-formats a {
  text-decoration: none;
}

.formoneclick .forms-input-cont {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  width: 25%;
}

.formoneclick .forms-input-cont:not(:last-child) {
  margin-right: 35px;
}

.formoneclick .forms-input-cont--file {
  width: 100% !important;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.formoneclick .forms-input-cont--file .forms__label--file:before {
  top: 17px;
}

.formoneclick .forms-input-cont--file:first-child .forms__label--file:before {
  top: 35px;
}

.formoneclick .forms-input-cont--files {
  -ms-flex-direction: column;
      flex-direction: column;
  width: 53%;
}

.formoneclick .forms-input__textarea {
  width: 280px;
  max-width: 265px;
  height: 155px;
  max-height: 155px;
  margin-top: 15px;
  padding: 10px;
}

.formoneclick .forms-input__textarea-cont {
  margin-right: 50px;
}

.formoneclick .forms__textarea-cont {
  position: relative;
}

.formoneclick .forms__textarea-cont .forms__error-message {
  top: 0;
  bottom: initial;
  right: 35px;
}

.formoneclick .forms__textarea-cont .forms__error-message-icon {
  top: 50px;
}

.formoneclick .forms__textarea-wrap {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.formoneclick .forms__recaptcha {
  margin-right: 65px;
}

.formoneclick .forms__recaptcha-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: flex-start;
      flex-direction: flex-start;
}

.formoneclick .forms__submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  border: 0;
  padding: 0;
}

.formoneclick .forms__label--file:before {
  background: #f4f4f4;
  right: 0;
  cursor: pointer;
  height: 57px;
  width: 20%;
  text-align: center;
  line-height: 57px;
  box-sizing: border-box;
}

.formoneclick .forms__textarea-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.formoneclick .forms-submit-cont {
  margin-top: 3.60082vh;
}

.formoneclick .file--add_input {
  text-decoration: none;
  color: #000;
  background: #eff0f0;
  width: 30%;
  padding: 5px 10px;
  margin-top: 20px;
}

.forms-textarea-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
