@charset "UTF-8";
*::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

*:-moz-placeholder {
  color: #000;
  opacity: 1;
}

*::-moz-placeholder {
  color: #000;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

html {
  font-size: 100%;
}

input, a, button, textarea, select {
  outline: none;
}

#page-wr input[type="color"], #page-wr input[type="date"], #page-wr input[type="datetime"], #page-wr input[type="datetime-local"], #page-wr input[type="email"], #page-wr input[type="month"], #page-wr input[type="number"], #page-wr input[type="password"], #page-wr input[type="search"], #page-wr input[type="tel"], #page-wr input[type="text"], #page-wr input[type="time"], #page-wr input[type="url"], #page-wr input[type="week"], #page-wr input:not([type]), #page-wr textarea, #page-wr select, #page-wr input[type="submit"], #page-wr button, #page-wr input[type="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

*, *:after, *:before {
  box-sizing: border-box;
}

*[v-cloak] {
  display: none;
}

select {
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}

select::-ms-expand {
  display: none;
}

address {
  font-weight: 300;
}

body {
  min-width: 320px;
  line-height: 1.2;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}

body:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/loader.jpg") center no-repeat, #fff;
  background-size: 90px auto;
  z-index: 9999;
  transition: opacity .5s ease;
}

body:before {
  content: "";
  position: fixed;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  border-radius: 50%;
  border-left: 6px solid #139658;
  z-index: 10001;
  transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 150px;
  width: 150px;
  animation: spin 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

body.loaded:after, body.loaded:before {
  opacity: 0;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#page-wr {
  max-width: 1800px;
  box-sizing: content-box;
  padding: 0 2rem;
  margin: 0 auto;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

#content {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

footer {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

a {
  color: #139658;
  text-decoration: underline;
  font-weight: inherit;
}

a[href^="tel"], a[href^="mail"] {
  white-space: nowrap;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: content-box;
}

.wrapper--big {
  max-width: 1800px;
}

input[type="submit"], button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

img[height] {
  height: auto;
}

li {
  list-style: none;
}

.soc__link {
  display: inline-block;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
}

.soc__link:not(:last-child) {
  margin-right: 17px;
}

.image {
  margin-bottom: 50px;
}

.image--right {
  float: right;
  margin-left: 40px;
}

.image--left {
  float: left;
  margin-right: 40px;
}

.image--figcaption {
  padding: 30px;
  background: #eff0f0;
  text-align: center;
  margin-top: 30px;
}

blockquote {
  position: relative;
  display: inline;
}

input[type=radio] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 53px;
  padding-top: 5px;
  vertical-align: top;
  cursor: pointer;
}

input[type="radio"] + label {
  margin-bottom: 32px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #139658;
  border-radius: 50px;
}

.text-page--width {
  max-width: 1200px;
}

.text-page {
  line-height: 1.375;
}

.text-page > *:not(:first-child) {
  margin-top: 22px;
}

.text-page h2, .text-page h3, .text-page h4, .text-page h5, .text-page h6 {
  font-weight: 300;
}

.text-page h2 {
  font-size: 1.375rem;
  line-height: 1.75rem;
}

.text-page h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.text-page h4, .text-page h5 {
  line-height: 1.5rem;
}

.text-page h4 {
  font-size: 1.125rem;
}

.text-page h5 {
  font-size: 1rem;
}

.text-page img[align="right"] {
  float: right;
  margin-left: 20px;
}

.text-page img[align="left"] {
  float: left;
  margin-right: 20px;
}

.text-page blockquote {
  border-left: 2px solid #139658;
  padding-left: 21px;
}

.text-page table {
  width: 100%;
  table-layout: fixed;
  color: #000;
}

.text-page table td, .text-page table th {
  padding: 15px 23px;
  font-weight: 300;
  vertical-align: middle;
}

.text-page table[border="1"] td, .text-page table[border="1"] th {
  border: 1px solid #ebebeb;
}

.text-page ul, .text-page ol {
  max-width: 650px;
  margin-top: 0 !important;
}

.text-page li {
  position: relative;
}

.text-page li:before {
  display: inline-block;
}

.text-page li ul, .text-page li ol {
  margin-bottom: 20px;
}

.text-page li li {
  padding-left: 20px;
}

.text-page li li:not(:first-child) {
  margin-top: 0;
}

.text-page ul li:before {
  content: "";
  background: #000;
  height: 1px;
  width: 13px;
  vertical-align: middle;
  margin: 0 14px 4px 0;
}

.text-page ul ul li:before {
  content: "-";
  height: auto;
  width: auto;
  background: none;
  margin: 0 5px 5px 0;
}

.text-page ol {
  counter-reset: i;
}

.text-page ol li {
  counter-increment: i;
}

.text-page ol li:before {
  content: counter(i) ".";
  margin-right: 4px;
}

.text-page dt, .text-page dd {
  display: inline;
  font-style: italic;
}

.radio__input {
  display: none;
}

.radio__input[disabled] + label {
  color: #acacac !important;
}

.radio__input:checked + label:after {
  opacity: 1;
}

.radio__label {
  position: relative;
  min-height: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  padding-left: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio__label:before, .radio__label:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.radio__label:before {
  top: 0;
  left: 0;
  background: #eff0f0;
  height: 26px;
  width: 26px;
}

.radio__label:after {
  top: 9px;
  left: 9px;
  height: 8px;
  width: 8px;
  transition: opacity .3s ease;
  opacity: 0;
  z-index: 1;
  background: #139658;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + label:after {
  opacity: 1;
}

.checkbox__label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  min-height: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 14px;
}

.checkbox__label:before, .checkbox__label:after {
  position: absolute;
  content: "";
}

.checkbox__label:before {
  background: #fff;
  height: 17px;
  width: 17px;
  left: 0;
  top: 0px;
  border: 1px solid #ebebeb;
}

.checkbox__label:after {
  transition: opacity .3s ease;
  height: 6px;
  width: 11px;
  left: 5px;
  top: 6px;
  opacity: 0;
}

.btn {
  background: #139658;
  text-align: center;
  color: #fff;
  border: none;
  transition: background .5s ease;
  display: inline-block;
  height: auto;
  padding: 21px 26px 23px;
  min-width: 115px;
}

.btn--gray {
  color: #000;
  background: #f6f6f6;
}

.btn-delfilter {
  color: #000;
  border: 1px solid #139658;
  background: none;
}

*[v-cloak] {
  display: none;
}

button, input, select {
  font-family: inherit;
}

.rating__list {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 16px;
}

.rating__start {
  height: 16px;
  width: 8px;
}

.rating__start:nth-child(odd) {
  background-position: left top;
}

.rating__start:nth-child(odd):not(:first-child) {
  padding-left: 4px;
  width: 12px;
  background-position: left 4px top;
}

.rating__start.active:nth-child(odd) {
  background-position: left top;
}

.rating__start.active:nth-child(odd):not(:first-child) {
  background-position: left 4px top;
}

.rating__count {
  display: inline-block;
  vertical-align: top;
}

.rub {
  font-style: normal;
  font-size: 60%;
  font-weight: inherit;
  font-family: "Roboto";
}

.slick-slide {
  height: auto;
}

.slick-arrow {
  border: none;
  padding: 0;
  display: block;
}

.slick-list, .slick-track {
  min-width: 100%;
}

.head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 70px 0 0;
}

.head__left, .head__right {
  width: 42.77778%;
}

.head__left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.head__logo {
  -ms-flex: none;
      flex: none;
}

.head-search {
  width: 237px;
  margin-right: 28px;
}

.head-contacts__link {
  color: #000;
  text-decoration: none;
}

#header-cart {
  display: none;
}

.head-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.head-links__link {
  height: 32px;
  width: 32px;
}

.head-links__link:not(:first-child) {
  margin-left: 28px;
}

.head-links__link--favorite {
  display: none;
}

.head-links__link--cart {
  position: relative;
}

.head-links__link--cart:after {
  content: attr(data-count);
  border-radius: 50%;
  position: absolute;
  color: #fff;
  text-decoration: none;
  background: #1dbadd;
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 11px;
  line-height: 20px;
  top: 1px;
  right: -2px;
}

.search__wrap {
  position: relative;
  width: 237px;
}

.search__submit {
  border: none;
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  width: 45px;
}

.search__input {
  height: 42px;
  width: 100%;
  padding: 0 40px 0 18px;
  border: 1px solid #ebebeb;
}

.head__menu {
  margin-top: 87px;
}

.sub--vertical {
  position: relative;
}

.sub--vertical .submenu {
  width: auto;
  left: 50%;
  padding: 35px 40px;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  -ms-flex-direction: column;
      flex-direction: column;
}

.sub--vertical .submenu__col {
  width: 100%;
  margin-right: 0;
}

.sub--vertical .submenu__col:last-child .submenu__title {
  margin-bottom: 0;
}

.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  z-index: 7;
}

.menu__link {
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.menu__el {
  padding-bottom: 55px;
}

.menu__el:not(:last-child) {
  margin-right: 48px;
}

.menu__el.sub div a {
  font-weight: 300;
}

.menu__el.sub .menu__link {
  display: block;
  padding-right: 21px;
  position: relative;
  z-index: 1;
}

.menu__el.sub .menu__link:after, .menu__el.sub .menu__link:before {
  content: "";
  position: absolute;
}

.menu__el.sub .menu__link:after {
  right: 0;
  height: 4px;
  width: 7px;
  top: 7px;
}

.menu__el.sub .menu__link:before {
  height: 12px;
  width: 23px;
  left: calc(50% - 12px);
  bottom: -55px;
  transition: opacity .4s ease;
  opacity: 0;
}

.menu__el.sub:hover .submenu {
  opacity: 1;
  pointer-events: all;
}

.menu__el.sub:hover .menu__link:before {
  opacity: 1;
}

.submenu {
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  width: 100%;
  transition: opacity .4s ease;
  pointer-events: none;
  opacity: 0;
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 13px 13px 15px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ebebeb;
  padding: 55px 99px;
}

.submenu__col {
  width: 20%;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.submenu__col:not(:last-child) {
  margin-right: 110px;
}

.submenu__title {
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-bottom: 30px;
  white-space: nowrap;
}

.submenu__title a {
  color: #000;
  text-decoration: none;
}

.submenu__list {
  font-size: 0.875rem;
}

.submenu__list-link {
  color: #000;
  text-decoration: none;
}

.submenu__list-el:not(:first-child) {
  margin-top: 15px;
}

.footer {
  background: #eff0f0;
  padding: 64px;
  margin-top: 88px;
}

.footer__copy {
  font-size: 0.875rem;
}

.footer__copy a {
  text-decoration: none;
  display: inline-block;
  margin-top: 6px;
}

.footer-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer-line--bot {
  -ms-flex-align: center;
      align-items: center;
  margin-top: 35px;
}

.footer__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 55.71429%;
}

.footer__phone {
  margin-left: auto;
  width: 23.21429%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
}

.footer__phone a {
  text-decoration: none;
}

.footer .submenu__list-el:not(:first-child) {
  margin-top: 11px;
}

.footer .submenu__list-link {
  font-size: 1rem;
}

.footer-phone a {
  color: #000;
  font-size: 1.25rem;
}

.footer-call {
  margin-top: 10px;
}

.f-auth__link {
  display: inline-block;
  border: 1px solid #d2d0d0;
  color: #000;
  text-decoration: none;
  padding: 20px 37px;
}

.dev {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #000;
  text-decoration: none;
}

.dev__text {
  margin-right: 10px;
  font-size: 0.875rem;
}

.bread-crumbs {
  color: #adadad;
  color: #000;
}

.bread-crumbs__link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.bread-crumbs__link:after {
  display: inline-block;
  content: "";
  color: inherit;
  right: -15px;
  margin-left: 15px;
  height: 9px;
  width: 5px;
}

.title-block__cont {
  padding: 50px 2rem 61px;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 88px;
}

.title-block__title {
  font-size: 2.5rem;
  font-weight: 100;
}

.title-block__crumbs {
  margin: 14px 0 0;
}

.inner-content .wrapper {
  padding: 0;
}

.cart-header {
  background: #eff0f0;
  padding: 30px 42px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
}

.cart-header__name {
  width: 51%;
}

.cart-header__price {
  width: 17.4%;
}

.cart-header__quantity {
  width: 20%;
}

.cart-header__price-total {
  width: 17.3%;
}

.cart-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 68px 12px 60px 12px;
}

.cart-item:not(:first-child) {
  padding-top: 0;
}

.cart-item__title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

.cart-item__title a {
  color: #000;
  text-decoration: none;
}

.cart-item__text {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 100;
  letter-spacing: 0.01rem;
  color: #aaaaa8;
  margin-top: 10px;
}

.cart-item__name {
  display: -ms-flexbox;
  display: flex;
  width: 50.71429%;
  -ms-flex-align: center;
      align-items: center;
}

.cart-item__name-foto {
  position: relative;
}

.cart-item__info {
  width: 37.5%;
  margin-left: 53px;
}

.cart-item__info .cart-item__quantity {
  width: 100%;
}

.cart-item__price {
  width: 16.42857%;
  font-size: 1.5rem;
  font-weight: 300;
  white-space: nowrap;
}

.cart-item__quantity {
  width: 18.92857%;
}

.cart-item__price-total {
  width: 17.14286%;
  font-size: 1.5rem;
  font-weight: 300;
}

.cart-item__close {
  width: 3.57143%;
}

.cart-counter-wrapper {
  max-width: 115px;
  height: 59px;
  border: 1px solid #ebebeb;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.cart-counter__input {
  max-width: 50px;
  border: 0;
  text-align: center;
  font-size: 1.25rem;
  color: #000;
}

.cart-counter__link--minus {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.cart-counter__link--minus:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 1px;
  background: #000;
}

.cart-counter__link--plus {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.cart-counter__link--plus:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 1px;
  background: #000;
}

.cart-counter__link--plus:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 13px;
  background: #000;
}

.cart-footer {
  background: #eff0f0;
  padding: 35px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-bottom: 42px;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 300;
}

.cart .favorites:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 20px;
  height: 15px;
}

.cart .close {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.cart__forms {
  border: 1px solid #ebebeb;
  padding: 53px 69px;
}

.cart__forms-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__forms .forms__input-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__forms .forms__text-bottom {
  text-align: left;
  font-size: 1rem;
}

.cart__forms .forms-wrap:after {
  content: "";
  width: 30.35714%;
}

.cart__forms .forms-wrap textarea {
  border: 1px solid #ebebeb;
}

.cart__forms .forms-input-cont {
  width: 30.35714%;
}

.cart__forms .forms-input-cont:not(:nth-child(3n)) {
  margin-right: 4.28571%;
}

.cart__forms .forms-textarea-cont {
  width: 65%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  margin-right: 4.64286%;
}

.cart__forms .textarea {
  width: 100%;
  height: 137px;
  resize: none;
  padding: 10px 17px;
  border: 1px solid #ebebeb;
}

.cart__forms .recaptcha {
  margin-top: 27px;
}

.cart__forms .recaptcha-wrap {
  width: 30.35714%;
  margin: 30px 0 0;
}

.cart__forms .btn__forms {
  font-size: 1rem;
  letter-spacing: 0.01rem;
  margin-top: 58px;
}

.cart__forms .btn__forms .btn {
  padding: 21px 54px 23px;
  font-size: 1rem;
}

.blog__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -68px;
}

.blog__item {
  width: 30.28571%;
  margin-bottom: 68px;
}

.blog__item:not(:nth-child(3n)) {
  margin-right: 64px;
}

.blog__item-info {
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-offset: -1px;
  padding: 30px 39px 35px 34px;
}

.blog__item-info--top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 20px;
}

.blog__item--link {
  color: #000;
  text-decoration: none;
}

.blog__item-data {
  font-size: 0.875rem;
  color: #aaaaa8;
  font-weight: 100;
}

.blog__item-see {
  font-size: 0.875rem;
  color: #aaaaa8;
  font-weight: 100;
}

.blog__item-title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.paginator {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.paginator__cont {
  margin: 100px 0;
}

.paginator__el--arrow:first-child {
  margin-right: 16px;
}

.paginator__el--arrow:last-child {
  margin-left: 16px;
}

.paginator__link {
  color: #000;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.paginator__link.active {
  color: #139658;
}

.paginator__arrow {
  height: 7px;
  width: 4px;
  display: block;
}

.paginator__arrow--left {
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.catalog {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.catalog__cat2 {
  width: calc(100% - 362px);
}

.catalog__cat2 .paginator__cont {
  margin: 50px 0 0;
}

.catalog__sort {
  margin-bottom: 57px;
}

.sort {
  padding: 29px 36px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #ebebeb;
}

.sort-select {
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
}

.sort-select__label {
  color: #000;
}

.sort-select__select {
  color: #b8b8b8;
  border: none;
  padding: 0 22px 0 9px;
}

.tag {
  height: 45px;
  width: 45px;
}

.tags__link {
  color: #6e6e6e;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875rem;
}

.tags__link:not(:last-child) {
  margin-right: 5px;
}

.tags__link:not(:last-child):after {
  content: ",";
}

.cat2__one-fav-add {
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: 1px solid #ebebeb;
}

.cat2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.cat2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  z-index: 3;
}

.cat2__one {
  position: relative;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 33px;
}

.cat2__one .rating {
  margin: 20px 0 0;
}

.cat2__one .rating__list {
  margin-right: 0;
}

.cat2__one-quantity {
  margin: 0 0 35px;
}

.cat2__one-tag-cont, .cat2__one-fav-add-cont {
  position: absolute;
  top: 32px;
}

.cat2__one-tag-cont {
  left: 18px;
}

.cat2__one-fav-add-cont {
  right: 18px;
}

.cat2__one-wrap {
  width: 33.33%;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.cat2__one-wrap:nth-child(3n) {
  border-right: 0;
}

.cat2__one-img {
  max-width: none;
}

.cat2__one-img:not([src*="no-image"]) {
  filter: brightness(108%);
}

.cat2__one-img-cont {
  height: 304px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.cat2__one-tags {
  margin-bottom: 13px;
}

.cat2__one-title {
  color: #000;
  text-decoration: none;
  display: inline-block;
  max-width: 235px;
  font-weight: 300;
  font-size: 1.125rem;
}

.cat2__one-buy {
  padding-top: 30px;
  margin-top: auto;
  width: 100%;
  max-width: 257px;
}

.cat2__one-price {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.cat2__one-add-to-cart {
  transition: color .3s ease, background .3s ease;
  border: 1px solid #139658;
  padding: 20px 30px 20px 45px;
  text-align: right;
  text-decoration: none;
  display: block;
  color: #000;
  white-space: nowrap;
  display: none;
}

.cat2__one-add-to-cart.added {
  color: #fff;
}

.cat2__one-add-to-cart--subscribe {
  background: #fff !important;
  text-align: center;
  padding: 20px 30px;
}

.cat2__one-subscribe-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #8b8b8b;
}

.fancybox-inner {
  background: #fff;
}

.catalog-filter {
  border: 1px solid #ebebeb;
  padding: 40px 50px;
}

.catalog-filter_btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.catalog-filter_btns .btn {
  margin-top: 25px;
}

.catalog-filter:not(:first-child) {
  margin-top: 40px;
}

.catalog-filter__categories-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
}

.catalog-filter__cont {
  width: 304px;
}

.categories__one-title {
  padding: 25px 25px 20px 0;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  position: relative;
}

.categories__one-title:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 7px;
  right: 2px;
  top: calc(50% - 2px);
  transition: transform .3s ease;
}

.categories__one-title a {
  color: #000;
  text-decoration: none;
}

.categories__one-title.nosubsection:after {
  display: none;
}

.categories__one.closed .categories__one-title:after {
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.categories__one.closed .categories__one-main {
  display: none;
}

.categories__one-main {
  padding: 30px 17px;
  border-bottom: 1px solid #ebebeb;
}

.categories__one-el:not(:first-child) {
  margin-top: 20px;
}

.categories__one-link {
  color: #000;
  text-decoration: none;
  font-size: 0.875rem;
}

.categories__one-link:after {
  display: inline-block;
  content: " / " attr(data-count);
  color: #969696;
  margin-left: 5px;
}

.filter__checks-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #ebebeb;
  padding: 29px 0 14px;
}

.filter__checks-group:first-child {
  padding-top: 0;
}

.filter__checks-group--icons .checkbox__label:before {
  top: calc(50% - 9px);
}

.filter__checks-group--icons .checkbox__label:after {
  top: calc(50% - 3px);
}

.filter__checks-group .checkbox {
  width: 50%;
  margin-bottom: 15px;
  padding-right: 20px;
}

.filter__one:not(:first-child) {
  border-top: 1px solid #ebebeb;
}

.filter__one-title {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: .01em;
  font-weight: 300;
}

.filter__one-title-cont {
  padding: 35px 0 30px;
}

.filter__one-block {
  padding-bottom: 35px;
}

.price-filter__inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.price-filter__inputs:before {
  -ms-flex-order: 1;
      order: 1;
  content: "-";
}

.price-filter__input {
  width: 44.28571%;
  height: 51px;
  border: 1px solid #ebebeb;
  padding: 0 15px;
  font-family: "Roboto";
}

.price-filter__input:first-child {
  -ms-flex-order: 0;
      order: 0;
}

.price-filter__input:last-child {
  -ms-flex-order: 2;
      order: 2;
}

.price-filter__range {
  margin: 28px 0 10px;
}

.ui-slider .ui-slider-range {
  background: #139658;
}

.ui-slider .ui-slider-handle {
  border: 1px solid #ebebeb;
  background: #fff;
  height: 22px;
  width: 22px;
  top: calc(50% - 11px);
  margin-left: -11px;
}

.ui-slider .ui-slider-handle:after {
  background: #139658;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.ui-widget-content {
  background: #ebebeb;
}

.filter-checks__list {
  max-height: 215px;
  overflow: hidden;
}

.filter-checks__list-el:not(first-child) {
  margin-top: 17px;
}

.filter-checks__list-el .checkbox__label {
  display: block;
}

.filter-checks__list-el .checkbox__label span {
  display: inline-block;
  margin-left: 8px;
  color: #b0b0b0;
}

.jspTrack {
  background: #ebebeb;
}

.jspVerticalBar {
  width: 2px;
}

.jspDrag {
  background: #139658;
}

.main-slider__cont {
  margin-bottom: 116px;
}

.main-slider > .main-slider__slide:not(:first-child) {
  display: none !important;
}

.main-slider .slick-arrow {
  z-index: 4;
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
}

.main-slider .slick-prev {
  left: 0;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.main-slider .slick-next {
  right: 0;
}

.main-slider__slide {
  display: -ms-flexbox !important;
  display: flex !important;
}

.main-slider__slide-text {
  width: 42%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px 5.5% 30px 7.33333%;
}

.main-slider__slide-img-cont {
  width: 58%;
}

.main-slider__text-top-plate {
  display: inline-block;
  padding: 9px 18px 10px;
  font-size: 1.75rem;
  font-weight: 300;
}

.main-slider__text-top-plate--sale {
  color: #fff;
  background: #ee8896;
}

.main-slider__text-title {
  font-size: 4.3125rem;
  line-height: 4.5rem;
  letter-spacing: .01em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3.4375rem;
}

.main-slider__text-link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.main-slider__text-link-cont {
  margin-top: 3.4375rem;
}

.promo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.promo__new {
  width: 48.28571%;
}

.promo__list {
  width: 48.07143%;
  display: -ms-flexbox;
  display: flex;
}

.tovar__rating-user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tovar-buy__quantity {
  margin-left: auto;
}

.new {
  border: 1px solid #ebebeb;
  padding: 53px 83px;
}

.new-slider .cat2__one-img-cont {
  height: auto;
}

.new .slick-arrow {
  border: 1px solid #ebebeb;
  height: 45px;
  width: 47px;
}

.new .slick-prev {
  margin-left: auto;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  border-left: none;
}

.new__title {
  font-size: 2.5rem;
  letter-spacing: .01em;
  font-weight: 100;
  -ms-flex-order: -2;
      order: -2;
}

.new__title-link {
  -ms-flex-order: -1;
      order: -1;
  margin-left: auto;
}

.new__title-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 50px;
}

.all {
  text-decoration: none;
}

.promo-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}

.promo-list__link {
  position: relative;
  color: #000;
}

.promo-list__link:nth-last-child(3):first-child ~ .promo-list__link, .promo-list__link:nth-last-child(3):first-child {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.promo-list__link:nth-last-child(3):first-child ~ .promo-list__link .promo-list__link-img, .promo-list__link:nth-last-child(3):first-child .promo-list__link-img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(-50%, -50%, 0);
}

.promo-list__link-img {
  display: block;
}

.promo-list__link:not(:first-child) {
  margin-top: 50px;
}

.promo-list__link-desc {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 20px 95px;
}

.promo-list__link-title {
  font-size: 1.875rem;
  font-weight: 100;
  letter-spacing: .01em;
}

.promo-list__link-fake-btn {
  border: 1px solid #ebebeb;
  height: 45px;
  width: 47px;
  margin-top: 37px;
}

.bestseller:after {
  content: "";
  display: table;
  clear: both;
}

.bestsellers__cont {
  margin: 70px 0 0;
}

.bestsellers__cont .slick-track {
  display: -ms-flexbox;
  display: flex;
}

.bestsellers__cont .slick-slide {
  display: -ms-flexbox !important;
  display: flex !important;
}

.bestsellers__cont .slick-arrow {
  border: 1px solid #ebebeb;
  height: 45px;
  width: 47px;
}

.bestsellers__cont .slick-prev {
  margin-left: 20px;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  border-left: none;
}

.bestseller > .bestseller__slide:nth-child(n + 4) {
  display: none;
}

.bestseller__slide {
  float: left;
}

.partners > .partners__slide:nth-child(n + 9) {
  display: none;
}

.partners__cont {
  margin-top: 90px;
}

.partners .slick-track {
  display: -ms-flexbox;
  display: flex;
}

.partners .slick-arrow {
  position: absolute;
  height: 9px;
  width: 5px;
  top: calc(50% - 5px);
  z-index: 2;
}

.partners .slick-prev {
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  left: 0;
}

.partners .slick-next {
  right: 0;
}

.partners__slide {
  float: left;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.partners__slide img {
  filter: grayscale(100%);
  transition: filter .3s ease;
}

.partners__slide-img-cont:hover img, .partners__slide-img-cont:focus img {
  filter: grayscale(0);
}

.tovar-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.tovar__sliders {
  width: 59.57143%;
}

.tovar__info {
  width: 37.5%;
}

.tovar-sliders {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 790px;
}

.tovar-sliders__small {
  width: 144px;
  -ms-flex: none;
      flex: none;
  padding-bottom: 130px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.tovar-sliders__big {
  width: calc(100% - 178px);
  height: 100%;
  border: 1px solid #ebebeb;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.tovar-big-slider {
  overflow: hidden;
  height: 100%;
}

.tovar-big-slider .slick-list, .tovar-big-slider .slick-track {
  height: 100%;
}

.tovar-big-slider .slick-track {
  display: -ms-flexbox;
  display: flex;
}

.tovar-big-slider .slick-arrow {
  height: 100%;
  width: 70px;
  top: 0;
  z-index: 2;
  position: absolute;
}

.tovar-big-slider .slick-prev {
  left: 0;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.tovar-big-slider .slick-next {
  right: 0;
}

.tovar-big-slider > .tovar-big-slider__slide:not(:first-child) {
  display: none !important;
}

.tovar-big-slider__slide {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: hidden;
  height: 100%;
}

.tovar-big-slider__slide img:not([src*="no-image"]) {
  filter: brightness(108%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tovar-smallslider {
  display: -ms-flexbox;
  display: flex;
}

.tovar-smallslider .slick-list {
  height: auto !important;
}

.tovar-smallslider__slide {
  border: 1px solid #ebebeb !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 145px !important;
  cursor: pointer;
}

.tovar-smallslider__slide:not(:first-child) {
  margin-top: 26px;
}

.tovar__share {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 999;
}

.tovar__share-yashare {
  background: #fff;
  padding: 10px;
  border: 1px solid #ebebeb;
  position: absolute;
  bottom: calc(100% + 15px);
  left: 0;
  border-radius: 2px;
  transition: opacity .3s ease;
  pointer-events: none;
  opacity: 0;
}

.tovar__share-yashare.js__visible {
  opacity: 1;
  pointer-events: all;
}

.ya-share2__icon {
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
}

.ya-share2__list {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -12px !important;
}

.ya-share2__list:after {
  content: "";
  width: 44px;
}

.ya-share2__item {
  margin-right: 0 !important;
  margin-bottom: 12px !important;
}

.ya-share2__badge {
  border-radius: 50% !important;
}

.share {
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.share__img {
  margin-bottom: 15px;
}

.tovar-fav-add__cont {
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 4;
}

.tovar__subtitle {
  color: #949494;
  margin-bottom: 20px;
}

.tovar__title {
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 2.4375rem;
  letter-spacing: .01em;
}

.tovar__rating {
  margin-top: 18px;
}

.tovar__buy {
  margin-top: 42px;
}

.tovar__desc {
  margin-top: 36px;
}

.tovar__tabs {
  margin-top: 37px;
}

.tovar-buy {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 32px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.tovar-buy__counter, .tovar-buy__add-to-cart {
  display: none;
}

.tovar-buy__counter {
  margin: 0 23px 0 auto;
  width: 117px;
  -ms-flex: none;
      flex: none;
}

.tovar-buy__add-to-cart {
  border: 1px solid #139658;
  color: #fff;
  padding: 20px 35px 21px 66px;
  text-decoration: none;
  white-space: nowrap;
}

.tovar-price {
  font-weight: bold;
  font-size: 2.375rem;
  letter-spacing: .01em;
  white-space: nowrap;
}

.tovar-price .rub {
  font-size: 1.75rem;
}

.tovar-desc {
  font-size: 0.9375rem;
  font-weight: 300;
}

.tovar-desc__row:not(:first-child) {
  margin-top: 20px;
}

.tovar-desc__row-title {
  color: #9a9a9a;
  display: inline-block;
  margin-right: 18px;
}

.tabs {
  font-weight: 300;
}

.tabs__tabs {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ebebeb;
}

.tabs-tab {
  margin-bottom: -1px;
  border: 1px solid transparent;
  padding: 14px 24px 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tabs-tab.active {
  border-color: #ebebeb;
  border-bottom-color: #fff;
}

.tabs__main {
  padding-top: 25px;
  position: relative;
}

.tabs-content {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  font-size: 0.875rem;
  max-width: 850px;
}

.tabs-content.active {
  opacity: 1;
  pointer-events: all;
  position: static;
}

.tovar-bot {
  margin-top: 84px;
}

.tovar-bot__tabs .tabs-tab {
  font-weight: bold;
  padding: 35px 50px;
  text-transform: uppercase;
}

.tovar-bot__tabs .tabs__main {
  border: 1px solid #ebebeb;
  border-top-color: transparent;
  padding: 53px 45px 65px;
}

.bl_contacts_top {
  margin: 0 0 50px;
  max-width: 800px;
}

.bl_contacts_top_text {
  margin-bottom: 25px;
}

.bl_contacts_item {
  padding: 15px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.bl_contacts_items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bl_contacts_item img {
  margin-right: 15px;
}

.bl_contacts_item p {
  width: 100%;
  margin-top: 10px;
}

.bl_contacts_item a {
  color: #000;
  text-decoration: none;
}

div.title-search-result {
  border-color: #ebebeb !important;
}

@media screen and (min-width: 1000px) {
  div.title-search-result {
    width: 400px !important;
  }
}

table.title-search-result {
  width: 100% !important;
}

.title-search-all {
  padding-top: 20px !important;
  padding-left: 8px !important;
}

.title-search-selected td, .title-search-selected a {
  background: #eff0f0 !important;
}

.title-search-selected .title-search-all, .title-search-selected .title-search-all a {
  background: none !important;
}

.recaptcha img {
  max-width: none;
  width: 302px;
}

@media screen and (min-width: 660px) {
  .js__moved-head-link {
    display: none;
  }
}

#item_add_to_cart .forms-submit-cont > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}

#item_add_to_cart .forms__submit {
  width: 48%;
  padding: 15px;
  text-align: center;
}

#item_add_to_cart .forms__submit:first-child {
  background: #139658;
  color: #fff;
}

.forms-input-cont .rating__list {
  margin: 0 0 3px 20px;
}

.forms-input-cont .rating__list:not(.js__voted):hover .rating__start {
  cursor: pointer;
}

.forms-input-cont .rating__list:not(.js__voted):hover .rating__start:nth-child(odd) {
  background-position: left top;
}

.forms-input-cont .rating__list:not(.js__voted):hover .rating__start:nth-child(odd):not(:first-child) {
  background-position: left 4px top;
}

.forms-input-cont .rating__list:not(.js__voted):hover .rating__start:hover ~ .rating__start:nth-child(odd) {
  background-position: left top;
}

.forms-input-cont .rating__list:not(.js__voted):hover .rating__start:hover ~ .rating__start:nth-child(odd):not(:first-child) {
  background-position: left 4px top;
}

.div-recaptcha + label {
  height: 19px;
}

#product-review {
  padding: 35px 45px;
}

.reviews__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.reviews__cont {
  max-width: 965px;
}

.reviews__one .rating__list {
  margin-right: 0;
}

.reviews__one-date {
  line-height: 0.875rem;
  margin-right: 23px;
  padding-right: 23px;
  border-right: 1px solid #ebebeb;
}

.reviews__one-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border: 1px solid #ebebeb;
  padding: 12px 20px;
}

.reviews__one-user, .reviews__one-date-rating {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.reviews__one-text {
  padding: 20px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  max-width: 900px;
}

.tovar__reviews-btn {
  margin: 25px 0 0;
}

.base-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: none;
}

.base-page__news-list {
  width: 304px;
}

.base-page__news-list + .text-page {
  width: calc(100% - 360px);
}

.news-backurl {
  margin: 15px 0 0;
  width: 100%;
}

.news-navbar {
  margin: 15px 0 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-list {
  border: 1px solid #ebebeb;
}

.news-list__btn {
  margin: 2.1875rem 0 0;
}

.news-list__btn .default-btn {
  width: 100%;
}

.news-list__one {
  padding: 2rem;
}

.news-list__one:not(:first-child) {
  border-top: inherit;
}

.news-list__one-date {
  font-weight: 100;
  color: #6e6e6e;
  font-size: 0.875rem;
  margin: 0 0 1.875rem;
}

.news-list__one-title {
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.22;
  margin: 0 0 1.5625rem;
}

.news-list__one-link {
  text-decoration: none;
  display: inline-block;
}

.news-list__one-link:after {
  content: "";
  display: inline-block;
  height: 7px;
  width: 4px;
  margin: 0 0 0 10px;
}

.default-btn {
  display: inline-block;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 20px 25px;
  font-size: 1.125rem;
  transition: color .3s ease, background .3s ease;
  border: 1px solid #139658;
}

.default-btn:hover, .default-btn:focus {
  background: #139658;
  color: #fff;
}

.page-404 {
  text-align: center;
}

.page-404__cont {
  margin: 40px 0 0;
}

.page-404__title {
  text-transform: uppercase;
  margin: 40px 0 0;
  font-weight: bold;
  color: #139658;
  font-size: 1.625rem;
}

.page-404__subtitle {
  margin: 30px 0 0;
  font-size: 1.25rem;
}

.doc-panel__text {
  margin-top: 30px;
}

.shops {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.shops__aside {
  width: 422px;
  -ms-flex: none;
      flex: none;
}

.shops__aside-app {
  margin-bottom: 44px;
}

.shops__aside-address, .shops__aside-contact {
  margin-bottom: 29px;
}

.shops__about {
  width: calc(100% - 451px);
}

.shop-slider > .shop-slider__slide:not(:first-child) {
  display: none;
}

.shop-slider .slick-arrow {
  position: absolute;
  bottom: 26px;
  z-index: 1;
  height: 49px;
  width: 45px;
}

.shop-slider .slick-next {
  right: 60px;
}

.shop-slider .slick-prev {
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  right: 105px;
}

.shop__desc {
  border: 1px solid #ebebeb;
  border-top: none;
  padding: 2.1875rem 2.625rem;
}

.shop__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.app__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 28px;
}

.app__one {
  display: inline-block;
}

.app__one:not(:last-child) {
  margin-right: 21px;
}

.shop-address {
  border: 1px solid #ebebeb;
  padding: 2.1875rem 2.5rem;
  width: 100%;
}

.shop-address__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.shop-address__text {
  letter-spacing: .01em;
  font-size: 0.875rem;
  line-height: 1.7;
}

.shop-address__text a {
  text-decoration: none;
}

.shop-address__soc {
  margin: 20px 0 0;
}

.shop-address__soc .soc__link {
  height: 38px;
  width: 38px;
}

.shop-contact {
  border: 1px solid #ebebeb;
  padding: 2.1875rem 2.5rem;
  letter-spacing: .01em;
  width: 100%;
}

.shop-contact__tel {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.shop-contact__tel a {
  text-decoration: none;
}

.shop-contact__text {
  font-size: 0.875rem;
  line-height: 1.7;
}

.shop-contact__msg {
  margin: 25px 0 0;
}

.msg__link:not(:last-child) {
  margin-right: 11px;
}

.contacts__form {
  margin: 2rem 0 0;
}

.contacts__form .cart__forms {
  padding: 0;
}

.contacts__form .forms__title, .contacts__form .forms-wrap {
  padding: 30px 36px;
}

.contacts__form .forms__title {
  text-align: left;
  font-size: 1rem;
  background: #eff0f0;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0;
}

.contacts__form .forms-input-cont {
  margin-right: 0 !important;
  width: 47.6% !important;
}

.contacts__form .forms__input {
  height: 41px;
}

.contacts__form .forms__label {
  font-size: 0.875rem;
}

.c-map img {
  display: block;
  width: 100%;
}

@supports ((display: -ms-grid) or (display: grid)) { {
    /*Блог*/
    /**Каталог**/
  }
  .blog__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.0625rem 4rem;
    margin: 0 !important;
  }
  .blog__item {
    width: auto !important;
    margin: 0 !important;
  }
  .cat2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 0;
    margin: 0 !important;
  }
  .cat2__one-wrap {
    width: auto !important;
    margin: 0 !important;
  }
}

@media screen and (min-width: 1000px) {
  .head__burger, .js__moved-phone {
    display: none;
  }
}

@media screen and (min-width: 660px) {
  .catalog-filter__btn {
    display: none;
  }
  .catalog-filter__btn + .catalog-filter {
    margin-top: 0;
  }
}

@media screen and (max-width: 1450px) {
  html {
    font-size: 99%;
  }
  .main-slider__slide-text {
    padding: 30px 2% 30px 10%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 98%;
  }
  .title-block__cont {
    margin-bottom: 50px;
  }
  .submenu {
    padding: 40px;
  }
  .submenu__col:not(:last-child) {
    margin-right: 50px;
  }
  .catalog-filter {
    padding: 2rem;
  }
  .catalog-filter__cont {
    width: 285px;
  }
  .catalog__cat2 {
    width: calc(100% - 285px - 2rem);
  }
  .catalog__sort {
    margin-bottom: 2rem;
  }
  .cat2__one-img-cont {
    height: 285px;
  }
}

@media screen and (max-width: 1300px) {
  .tovar__sliders {
    width: 55%;
  }
  .tovar__info {
    width: 42.5%;
  }
  .tovar-sliders__small {
    width: 125px;
  }
  .tovar-sliders__big {
    width: calc(100% - 125px - 2rem);
  }
  .tovar-smallslider {
    max-width: 100%;
  }
  .cat2__one-img {
    max-width: 210px;
  }
  #page-wr {
    padding: 0;
  }
  #content {
    padding: 0 2rem;
  }
  .shops__about {
    width: calc(100% - (322px + 2rem));
  }
  .shops__aside {
    width: 322px;
  }
}

@media screen and (max-width: 1250px) {
  .main-slider .slick-arrow {
    width: 5.5%;
  }
  .main-slider__cont {
    margin-bottom: 50px;
  }
  .main-slider__slide-text {
    padding: 30px 2% 30px 5.5%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 95%;
  }
  .footer {
    padding: 2rem;
  }
  .title-block__cont {
    background: none !important;
    padding: 0;
  }
  .tovar-big-slider__slide img {
    max-width: 380px;
  }
  .tovar-buy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .tovar-buy__price {
    width: 100%;
    margin-bottom: 1.4rem;
  }
  .tovar-buy__counter {
    margin-left: 0;
  }
  .tovar-sliders {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .tovar-sliders__small, .tovar-sliders__big {
    width: auto;
  }
  .tovar-sliders__big {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  }
  .tovar-sliders__small {
    -ms-flex: none;
        flex: none;
    margin-top: 2rem;
    padding-bottom: 0;
  }
  .tovar__share {
    position: static;
    -ms-flex: none;
        flex: none;
    width: 150px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .bestsellers__cont {
    margin: 4rem 0 0;
  }
  .tovar-smallslider {
    width: calc(100% - 150px);
  }
  .tovar-smallslider__slide:not(:first-child) {
    margin-top: 0;
    margin-left: 15px;
  }
  .tovar-bot {
    margin: 4rem 0 0;
  }
  .head {
    padding: 30px 0 0;
  }
  .head__menu {
    margin: 50px -2rem 0;
  }
  .new {
    padding: 35px 30px 0;
  }
  .new__title-cont {
    margin-bottom: 15px;
  }
  .footer {
    margin-top: 50px;
  }
  .partners__cont {
    margin-top: 30px;
  }
  .main-slider__text-title {
    font-size: 2.375rem;
    line-height: 2.5rem;
  }
  .main-slider__text-title, .main-slider__text-link-cont {
    margin-top: 1.5rem;
  }
  .menu__el {
    padding-bottom: 40px;
  }
  .menu__el.sub .menu__link:before {
    bottom: -41px;
  }
  .cat2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .cat2__one-wrap {
    width: 50%;
  }
  .cat2__one-wrap:nth-child(even) {
    border-right: 0;
  }
  .cat2__one-wrap:nth-child(3n) {
    border-right: 1px solid #ebebeb;
  }
  .blog__list {
    grid-gap: 2rem;
  }
  .blog__item-info {
    padding: 2rem;
  }
  .paginator__cont {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 94%;
  }
  .blog__list {
    margin: 0 0 -2rem -2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .blog__item {
    width: calc((100% - 2rem * 2) / 2);
    margin: 0 0 2rem 2rem;
    margin-right: 0 !important;
  }
  .blog__item-info {
    padding: 1.4rem;
  }
  #page-wr {
    position: relative;
    background: #fff;
  }
  .head, .content, .footer {
    transition: transform .3s ease;
    position: relative;
    background: #fff;
    z-index: 10;
  }
  .js-menu-opened .head, .js-menu-opened .content, .js-menu-opened .footer {
    transform: translate3d(-280px, 0, 0);
  }
  .js-menu-opened .head__menu {
    opacity: 1;
    pointer-events: all;
  }
  .content {
    margin: 2rem 0 0;
  }
  .main-slider .slick-dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: .8rem 0 0;
  }
  .main-slider .slick-dots li:not(:first-child) {
    margin-left: 14px;
  }
  .main-slider .slick-dots .slick-active button {
    background: #139658;
  }
  .main-slider .slick-dots button {
    border-radius: 50%;
    border: none;
    padding: 0;
    text-indent: -9999px;
    overflow: hidden;
    height: 16px;
    width: 16px;
    border: 1px solid #139658;
    background: #fff;
    transition: background .3s ease;
    cursor: pointer;
  }
  .main-slider__cont {
    margin: 0 0 2rem;
  }
  .main-slider__slide {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .main-slider__slide-text, .main-slider__slide-img-cont {
    width: auto;
  }
  .main-slider__slide-text {
    padding: 2rem 2rem .6rem;
  }
  .main-slider__text {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
  }
  .main-slider__text-link-cont {
    margin-bottom: 1.4rem;
    margin-top: 0;
  }
  .main-slider__text-top-plate {
    width: 180px;
    -ms-flex: none;
        flex: none;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 1.4rem;
  }
  .main-slider__text-title {
    margin-top: 0;
    margin-bottom: 1.4rem;
    margin-right: 20px;
  }
  .main-slider__text-title br {
    display: none;
  }
  .head__menu {
    position: absolute;
    top: 0;
    width: 280px;
    height: 100%;
    overflow: hidden;
    right: 0;
    margin: 0;
    background: #fff;
    z-index: 1;
    transition: opacity .3s ease;
    opacity: 0;
    pointer-events: none;
  }
  .head__menu:before {
    content: "";
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    top: 0;
    height: 100%;
    left: -.1rem;
    width: .1rem;
    z-index: 10;
  }
  .head__menu-footer {
    padding: 15px 20px;
  }
  .js__moved-phone .footer-phone {
    margin-bottom: 15px;
    width: 100%;
    display: block;
  }
  .js__moved-phone .footer-phone a {
    font-size: 1.125rem;
    text-decoration: none;
  }
  #item_add_to_cart .forms-submit-cont > div {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  #item_add_to_cart .forms-submit-cont .forms__submit {
    width: auto;
  }
  #item_add_to_cart .forms-submit-cont .forms__submit:not(:first-child) {
    margin-top: 15px;
  }
  .submenu {
    pointer-events: all;
    opacity: 1;
    padding: 0 !important;
    position: static;
    display: none;
    box-shadow: none;
    -ms-transform: none !important;
        transform: none !important;
  }
  .submenu__list {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .submenu__col {
    width: 100%;
  }
  .submenu__col:not(:last-child) {
    margin-right: auto;
    border-bottom: 1px solid #ebebeb;
  }
  .submenu__title {
    margin-bottom: 0;
    font-size: 1rem;
  }
  .submenu__title a {
    display: block;
    padding: 15px 20px 15px 30px;
    font-weight: 300;
  }
  .menu {
    -ms-flex-direction: column;
        flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu__link {
    display: block;
    padding: 15px 20px;
    font-weight: 300;
  }
  .menu__link:before {
    display: none;
  }
  .menu__link:after {
    top: calc(50% - 2px) !important;
    right: 20px !important;
    transition: transform .3s ease;
  }
  .menu__el {
    padding-bottom: 0;
    border-bottom: 1px solid #ebebeb;
  }
  .menu__el:not(:last-child) {
    margin-right: 0;
  }
  .menu__el.js-submenu-opened .menu__link:after {
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
  }
  .head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .head__left {
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
    margin-top: 2rem;
  }
  .head__right {
    margin: 0 2rem 0 auto;
    width: auto;
  }
  .head-contacts {
    display: none;
  }
  .head-search {
    margin: 0;
    width: 100%;
  }
  .head__burger {
    -ms-flex: none;
        flex: none;
  }
  .search__wrap {
    width: 100%;
  }
  .burger {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 30px;
    width: 30px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    cursor: pointer;
  }
  .burger:before, .burger:after {
    display: block;
    content: "";
    -ms-transform-origin: left;
        transform-origin: left;
    transition: transform .3s ease, width .3s ease;
  }
  .burger span, .burger:before, .burger:after {
    background: #139658;
    height: 2px;
    width: 100%;
  }
  .burger span {
    transition: opacity .3s ease;
  }
  .burger.js-active:before, .burger.js-active:after {
    width: 136%;
  }
  .burger.js-active:before {
    -ms-transform: rotate(42deg);
        transform: rotate(42deg);
  }
  .burger.js-active:after {
    -ms-transform: rotate(-42deg);
        transform: rotate(-42deg);
  }
  .burger.js-active span {
    opacity: 0;
  }
  .promo__new, .promo__list {
    width: calc(50% - 1rem);
  }
  .promo-list__link:not(:first-child) {
    margin-top: 2rem;
  }
  .promo-list__link-desc {
    padding: 20px 2rem;
  }
  .bestsellers__cont {
    margin: 2rem 0 0;
  }
  .footer {
    padding: 2rem 0;
    margin: 2rem 0 0;
    border-top: 1px solid #ebebeb;
  }
  .footer-line--top {
    display: none;
  }
  .footer-line--bot {
    margin-top: 0;
  }
  .title-block__cont {
    margin: 0 0 2rem;
    background: none !important;
    padding: 0;
  }
  .catalog-filter__cont {
    width: 245px;
  }
  .catalog__cat2 {
    width: calc(100% - 245px - 2rem);
  }
  .cat2__one-add-to-cart {
    padding-left: 65px;
    text-align: left;
  }
  .tovar-top {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .tovar__sliders, .tovar__info {
    width: auto;
  }
  .tovar__info {
    margin: 3rem 0 0;
  }
  .tovar__buy {
    margin: 2rem 0 0;
  }
  .tovar-buy {
    padding: 1.4rem 0;
  }
  .image--right {
    width: 250px;
  }
  .image--figcaption {
    padding: 1rem;
  }
  .cart-header {
    display: none;
  }
  .cart-footer {
    margin-top: 2rem;
    padding: 2rem;
  }
  .cart-counter-wrapper {
    max-width: none;
  }
  .cart__forms {
    padding: 2rem;
  }
  .cart__forms .forms-input-cont {
    width: 48%;
    margin-right: 0 !important;
  }
  .cart__forms .forms__input-wrap {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .cart__forms .forms-textarea-cont {
    width: 100%;
    margin-right: 0;
  }
  .cart__forms .recaptcha-wrap {
    width: 100%;
  }
  .cart__forms .btn__forms {
    margin-top: 2rem;
  }
  .cart-item {
    padding: 3.5rem 0 2rem !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    position: relative;
  }
  .cart-item:last-child {
    border-bottom: 1px solid #ebebeb;
  }
  .cart-item__close {
    position: absolute;
    top: 12px;
    right: 0;
  }
  .cart-item__name {
    width: 100%;
    margin-bottom: 1.4rem;
  }
  .cart-item__name-foto {
    position: static;
    -ms-flex: none;
        flex: none;
  }
  .cart-item .favorites {
    position: absolute;
    left: 0;
    top: 10px;
  }
  .cart-item__info {
    width: auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  }
  .cart-item__price, .cart-item__price-total {
    width: auto;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-item__price:before, .cart-item__price-total:before {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .cart-item__price:before {
    content: "Цена: ";
  }
  .cart-item__price-total:before {
    content: "Сумма:";
  }
  .formoneclick .forms__input-wrap {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .formoneclick .forms-input-cont {
    margin-right: 0 !important;
    width: 48% !important;
  }
  html {
    overflow-x: hidden !important;
  }
  .shops {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .shops__aside, .shops__about {
    width: auto;
  }
  .shops__aside {
    margin: 2rem 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shops__aside-app {
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
  }
  .shops__aside-address, .shops__aside-contact {
    display: -ms-flexbox;
    display: flex;
    width: 48%;
  }
  .shop__desc, .shop-address, .shop-contact {
    padding: 1.4rem;
  }
}

@media screen and (max-width: 1000px) and (min-width: 660px) {
  .tovar-buy {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .tovar-buy__price {
    width: auto;
    margin-bottom: 0;
  }
  .tovar-buy__counter {
    margin-left: auto;
  }
}

@media screen and (max-width: 660px) {
  html {
    font-size: 93%;
  }
  .shop-slider .slick-arrow {
    bottom: calc(50% - 1.25rem);
    height: 2.5rem;
    width: 2.5rem;
  }
  .shop-slider .slick-next {
    right: 0;
  }
  .shop-slider .slick-prev {
    right: auto;
    left: 0;
  }
  .shops__aside {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .shops__aside-address, .shops__aside-contact {
    width: auto;
  }
  #content {
    padding: 0 1.4rem;
  }
  .page-404__img-cont {
    padding: 0 2rem;
  }
  .page-404__title {
    font-size: 1.375rem;
  }
  .page-404__subtitle {
    font-size: 1rem;
  }
  .bl_contacts_item {
    width: 100%;
  }
  .bl_contacts_item:not(:first-child) {
    margin-top: 10px;
    border-top: 1px solid #ebebeb;
  }
  .doc-panel__header {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .doc-panel__header .btn-panel {
    margin: 0 !important;
    border-bottom: 1px solid #ebebeb;
  }
  .doc-panel__header .btn-panel.active {
    -ms-flex-order: 1;
        order: 1;
    border-bottom: none !important;
  }
  .tovar-buy__add-to-subscribe {
    margin-left: 0 !important;
  }
  .cat2__one-add-to-cart--subscribe {
    text-align: center !important;
  }
  .formoneclick .forms-input-cont {
    width: 100% !important;
  }
  .formoneclick .forms-submit-cont {
    width: 100%;
  }
  .formoneclick .forms-submit-cont .btn-form {
    width: 100%;
  }
  .js__moved-head-link {
    position: relative;
  }
  .js__moved-head-link:before, .js__moved-head-link:after {
    content: "";
    position: absolute;
    right: 15px;
    height: 24px;
    width: 24px;
    top: calc(50% - 12px);
    background-size: contain !important;
  }
  .recaptcha {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .cart-footer {
    padding: 1.4rem;
  }
  .cart-item {
    text-align: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .cart-item__quantity, .cart-item__price-total {
    margin: 1.4rem 0 0;
  }
  .cart-item__quantity {
    width: 120px;
  }
  .cart-item__name {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .cart-item__name-foto {
    width: auto;
  }
  .cart-item__info {
    margin-left: 0;
    width: auto;
    margin-top: 15px;
  }
  .cart__forms {
    padding: 1.4rem;
  }
  .cart__forms .forms-input-cont {
    width: 100%;
  }
  .cart__forms .btn__forms .btn {
    width: 100%;
    text-align: center;
  }
  .blog__list {
    margin: 0 0 -1.4rem -1.4rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog__item {
    width: calc((100% - 1.4rem * 2) / 2);
    margin: 0 0 1.4rem 1.4rem;
  }
  .table-wrap {
    overflow: auto;
  }
  .table-wrap table {
    width: auto;
  }
  .image--right {
    width: 100%;
  }
  .tovar-sliders {
    height: auto;
  }
  .tovar-sliders__small {
    display: none;
  }
  .tovar-big-slider {
    padding: 2rem;
  }
  .tovar-big-slider .slick-arrow {
    width: 40px;
  }
  .tabs__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs-tab {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    transition: background .3s ease, color .3s ease;
    border: 1px solid #ebebeb;
    padding: 1.4rem !important;
  }
  .tabs-tab.active {
    -ms-flex-order: 1;
        order: 1;
    background: #139658;
    color: #fff;
  }
  .tabs__main {
    padding: 1.4rem !important;
  }
  .title-block__crumbs {
    display: none;
  }
  .head {
    padding: 1.4rem 0 0;
  }
  .head-links__link--lc, .head-links__link--favorite {
    display: none;
  }
  .head__right {
    -ms-flex-order: -3;
        order: -3;
    margin: 0;
  }
  .head__logo {
    width: 150px;
  }
  #header-cart {
    margin-left: 0 !important;
  }
  .main-slider {
    display: none;
  }
  .new__title {
    font-size: 1.25rem;
  }
  .new__title-link {
    -ms-flex-order: 1;
        order: 1;
  }
  .bestsellers__cont .slick-prev {
    margin-left: auto;
  }
  .cat2__one-img {
    max-width: 260px;
  }
  .cat2__one-price {
    margin: 0 0 20px;
  }
  .promo {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .promo__new, .promo__list {
    width: auto;
  }
  .promo__list {
    margin-bottom: 1.4rem;
  }
  .promo-list__link {
    text-decoration: none;
    background: #eff0f0;
    display: block;
    padding: 12px 1rem;
    border: 1px solid #e1e1e1;
  }
  .promo-list__link-title {
    font-size: 1rem;
  }
  .promo-list__link:not(:first-child) {
    margin-top: 10px;
  }
  .promo-list__link:not([href]) {
    display: none;
  }
  .promo-list__link-fake-btn {
    margin-top: 0 !important;
    display: none;
  }
  .promo-list__link-img {
    display: none;
  }
  .promo-list__link-desc {
    position: static;
    padding: 0;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
  }
  .new {
    padding: 0;
    border: none;
  }
  .cat2__one-tag-cont {
    left: 0;
  }
  .cat2__one-fav-add-cont {
    right: 0;
  }
  .partners__cont {
    display: none;
  }
  .footer {
    padding: 1.4rem 1.4rem;
    text-align: center;
  }
  .footer__soc {
    display: none;
  }
  .footer__dev {
    margin-top: 1.3rem;
  }
  .footer-line--bot {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .new__title-cont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .new__title-link {
    margin-left: 0;
    margin-right: auto;
  }
  .catalog {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .catalog-filter {
    padding: 1.4rem;
    display: none;
  }
  .catalog-filter__btn {
    text-align: center;
    background: #139658;
    color: #fff;
    font-size: 1.125rem;
    width: 100%;
    padding: 20px 15px;
    border: none;
    cursor: pointer;
  }
  .catalog-filter__cont, .catalog__cat2 {
    width: auto;
  }
  .catalog__cat2 {
    margin-top: 2rem;
  }
  .catalog__cat2 .paginator__cont {
    margin: 2rem 0 0;
  }
  .sort {
    padding: 1.4rem;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .sort-select {
    -ms-flex-align: end;
        align-items: flex-end;
    font-size: 1rem;
  }
  .sort-select__select {
    color: #000;
  }
  .sort form:not(:first-child) {
    margin-top: 15px;
  }
  .cat2 {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cat2__one-wrap {
    border-right: 0 !important;
  }
}

@media screen and (max-width: 370px) {
  .div-recaptcha {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .head-links__link:not(:first-child) {
    margin-left: 0;
  }
  .head__menu {
    width: 260px;
  }
  .js-menu-opened .head, .js-menu-opened .content, .js-menu-opened .footer {
    transform: translate3d(-260px, 0, 0);
  }
  .tovar-buy__counter {
    width: 100px;
    margin-right: 0;
  }
  .page-404__title, .page-404__subtitle {
    margin: 20px 0 0;
  }
  .page-404__title {
    font-size: 1rem;
  }
  .page-404__subtitle {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 820px) {
  .base-page__news-list {
    display: none;
  }
  .base-page__news-list + .text-page {
    width: 100%;
  }
}
