@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Proxima-nova/bold/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-nova/bold/proxima_nova_bold.woff") format("woff"), url("../fonts/Proxima-nova/bold/proxima_nova_bold.ttf") format("truetype"), url("../fonts/Proxima-nova/bold/proxima_nova_bold.svg#Proxima Nova") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Proxima-nova/extra-bold/proxima_nova_extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-nova/extra-bold/proxima_nova_extrabold.woff") format("woff"), url("../fonts/Proxima-nova/extra-bold/proxima_nova_extrabold.ttf") format("truetype"), url("../fonts/Proxima-nova/extra-bold/proxima_nova_extrabold.svg#Proxima Nova") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Proxima-nova/light/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-nova/light/proxima_nova_light.woff") format("woff"), url("../fonts/Proxima-nova/light/proxima_nova_light.ttf") format("truetype"), url("../fonts/Proxima-nova/light/proxima_nova_light.svg#Proxima Nova") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Proxima-nova/light-italic/proxima_nova_light_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-nova/light-italic/proxima_nova_light_italic.woff") format("woff"), url("../fonts/Proxima-nova/light-italic/proxima_nova_light_italic.ttf") format("truetype"), url("../fonts/Proxima-nova/light-italic/proxima_nova_light_italic.svg#Proxima Nova") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Proxima-nova/thin/proxima_nova_thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima-nova/thin/proxima_nova_thin.woff2") format("woff2"), url("../fonts/Proxima-nova/thin/proxima_nova_thin.woff") format("woff"), url("../fonts/Proxima-nova/thin/proxima_nova_thin.ttf") format("truetype"), url("../fonts/Proxima-nova/thin/proxima_nova_thin.svg#Proxima Nova") format("svg");
}
